<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @enrollment.user %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @enrollment.student_class %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
