<%= form_with(model: learning_content, local: true) do |form| %>
  <% if learning_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(learning_content.errors.count, "error") %> prohibited this learning_content from being saved:</h2>

      <ul>
      <% learning_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :learning_content_nome, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :learning_content_description, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_area :url, id: :learning_content_url, class:'form-control' %>
  </div>



  <%= form.submit 'Cadastrar Conteudo', class:"btn btn-primary" %>
<% end %>
